{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
  ],
  "rules": {
    "no-param-reassign": [
      "off",
      {
        "props": false,
      }
    ],
    "no-plusplus": "off",
    "max-len": [
      "error",
      {
        "code": 120,
      }
    ],
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
  },
}